In [1]:
import time
import pandas as pd
import urllib.request
import requests
import bs4
from collections import Counter
import konlpy
from konlpy.tag import Hannanum
import matplotlib.pyplot as plt
from wordcloud import WordCloud

In [2]:
data = pd.read_excel('C:/marketing2/data22.xlsx')
a = data.sort_values("실검", ascending = False, ignore_index = True)[:100]
b = []
for i in range(100):
    b.append(str(a.loc[i, "날짜"])[:10].replace("-",""))
b[:5]

['20210505', '20210304', '20211025', '20210305', '20221015']

In [3]:
a

            날짜         실검
0   2021-05-05  100.00000
1   2021-03-04   68.23434
2   2021-10-25   67.27456
3   2021-03-05   64.28811
4   2022-10-15   61.18335
..         ...        ...
95  2022-02-08    9.46013
96  2022-10-31    9.45809
97  2021-05-18    9.42341
98  2021-06-13    9.26226
99  2021-04-25    9.21636

[100 rows x 2 columns]

In [4]:
a.to_csv("C:/marketing2/3월4일/top100.csv")

In [5]:
a.to_excel("C:/marketing2/3월4일/top100.xlsx")