In [1]:
import time
import pandas as pd
import urllib.request
import requests
import bs4
from collections import Counter
import konlpy
from konlpy.tag import Hannanum
import matplotlib.pyplot as plt
from wordcloud import WordCloud

In [2]:
data = pd.read_excel("D:/marketing/data.xlsx")
data

            날짜      실시간비율    실시간량       실검비율    실검량
0   2021-02-25  100.00000  605624  100.00000  86899
1   2021-02-26   34.85076  211065   29.01214  25211
2   2021-02-27   17.63669  106812   14.48414  12587
3   2021-02-28   15.53354   94075   12.69096  11028
4   2021-03-01   16.45141   99634   13.12000  11401
..         ...        ...     ...        ...    ...
800 2023-05-06    0.25251    1531    0.17540    153
801 2023-05-07    0.24853    1507    0.20266    177
802 2023-05-08    0.80667    4892    0.62222    542
803 2023-05-09    0.89570    5432    3.45600   3010
804 2023-05-10    1.00574    6099    3.10755   2707

[805 rows x 5 columns]

In [9]:
df_con = pd.DataFrame({"idx":[0, 1, 2, 3, 4], "Date":['2021-02-25', '2021-02-25', '2021-02-26', '2021-02-26', '2021-02-27'], "Contents":["네이버 실시간 검색어 실검 첫번째", "두번째 안녕하세요 사과 바나나 오렌지 포도", "세번째 서울대 부산대 부경대 연세대 고려대", "네번째 노트북 태블릿 컴퓨터 휴대폰", "다섯번째 어린이날 공휴일 현충일 석가탄신일"]})
df_con

   idx        Date                 Contents
0    0  2021-02-25       네이버 실시간 검색어 실검 첫번째
1    1  2021-02-25  두번째 안녕하세요 사과 바나나 오렌지 포도
2    2  2021-02-26  세번째 서울대 부산대 부경대 연세대 고려대
3    3  2021-02-26      네번째 노트북 태블릿 컴퓨터 휴대폰
4    4  2021-02-27  다섯번째 어린이날 공휴일 현충일 석가탄신일

In [50]:
a = [[0, "a"], [1, "b"], [2, "c"]]
print(a)
print([a[i][1] for i in range(len(a))])

[[0, 'a'], [1, 'b'], [2, 'c']]
['a', 'b', 'c']

In [ ]:
news_T = []
total = 0
for i in range(115):
    news = pd.read_csv("C:/marketing/data10/df" + str(i) + ".csv", encoding="utf-8-sig")
    date.extend(news[""])
    total += len(news["URL"])
    news_T.extend(news["URL"])

기사 url을 크롤링할 때 날짜도 입력하기   
입력된 날짜와 url을 따로 리스트에 저장   
url에 따라 뉴스 본문 크롤링   
뉴스 본문과 날짜 리스트를 합쳐서 데이터프레임으로 만들기   
날짜에 따라 데이터프레임을 나눠서 형태소 분석

In [10]:
tagger=Hannanum()

df_con = pd.DataFrame({"Date":date, "Contents":con})
df_con

그냥 날짜가 하나씩 저장된 리스트

In [53]:
data["날짜"]

0     2021-02-25
1     2021-02-26
2     2021-02-27
3     2021-02-28
4     2021-03-01
         ...
800   2023-05-06
801   2023-05-07
802   2023-05-08
803   2023-05-09
804   2023-05-10
Name: 날짜, Length: 805, dtype: datetime64[ns]

In [54]:
b = ["2021-02-25", "2021-02-26", "2021-02-27"]

In [55]:
df_con = pd.DataFrame({"idx":[0, 1, 2, 3, 4], "Date":['2021-02-25', '2021-02-25', '2021-02-26', '2021-02-26', '2021-02-27'], "Contents":["네이버 실시간 검색어 실검 첫번째", "두번째 안녕하세요 사과 바나나 오렌지 포도", "세번째 서울대 부산대 부경대 연세대 고려대", "네번째 노트북 태블릿 컴퓨터 휴대폰", "다섯번째 어린이날 공휴일 현충일 석가탄신일"]})
df_con

   idx        Date                 Contents
0    0  2021-02-25       네이버 실시간 검색어 실검 첫번째
1    1  2021-02-25  두번째 안녕하세요 사과 바나나 오렌지 포도
2    2  2021-02-26  세번째 서울대 부산대 부경대 연세대 고려대
3    3  2021-02-26      네번째 노트북 태블릿 컴퓨터 휴대폰
4    4  2021-02-27  다섯번째 어린이날 공휴일 현충일 석가탄신일

In [58]:
# 반복문으로 날짜별 데이터프레임에 따라 형태소 분석
for i in range(len(b)):
    print(b[i])
    text = df_con[df_con["Date"] == b[i]]["Contents"]
    text_filtered = text.str.replace("[^ㄱ-ㅎ ㅏ-ㅣ 가-힣]"," ")
    
    tokenized_data_filtered=[]
    for j in text_filtered:
        temp = tagger.nouns(j)
        temp = [word for word in temp if len(word)>1]  ## 두글자 이상이면 포함, 리스트 함축
        #temp = [word for word in temp if word not in stopwords]
        tokenized_data_filtered.append(temp)
    
    tokens=[]
    for k in tokenized_data_filtered:
        tokens.extend(k)

    num_top_tokens=100

    counted_tokens=Counter(tokens)
    top_keywords=dict(counted_tokens.most_common(num_top_tokens))
    tk_df = pd.DataFrame(list(top_keywords.items()), columns=['keywords','freq'])
    tk_df.to_csv("D:/marketing/test/tk_df" + str(i) + ".csv", encoding = "utf-8-sig")
    
    print("DONE")

2021-02-25
DONE
2021-02-26
DONE
2021-02-27
DONE

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_20468\1030266704.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  text_filtered = text.str.replace("[^ㄱ-ㅎ ㅏ-ㅣ 가-힣]"," ")
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_20468\1030266704.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  text_filtered = text.str.replace("[^ㄱ-ㅎ ㅏ-ㅣ 가-힣]"," ")
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_20468\1030266704.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  text_filtered = text.str.replace("[^ㄱ-ㅎ ㅏ-ㅣ 가-힣]"," ")

In [66]:
tk_df["freq"] *= 0.1

In [67]:
tk_df

  keywords  freq
0      다섯번   0.1
1     어린이날   0.1
2      공휴일   0.1
3      현충일   0.1
4     석가탄신   0.1

In [60]:
#가중치 저장
w = [0.5, 0.2, 0.1]

In [76]:
top = pd.DataFrame()
for i in range(len(b)):
    tk = pd.read_csv("D:/marketing/test/tk_df" + str(i) + ".csv", encoding="utf-8-sig", index_col = 0)
    tk["freq"] *= w[i]
    top = pd.concat([top, tk], ignore_index = True)

In [78]:
print(top)

   keywords  freq
0       네이버   0.5
1       실시간   0.5
2       검색어   0.5
3        실검   0.5
4        첫번   0.5
5        두번   0.5
6        안녕   0.5
7        사과   0.5
8       바나나   0.5
9       오렌지   0.5
10       포도   0.5
11       세번   0.2
12      서울대   0.2
13      부산대   0.2
14      연세대   0.2
15      고려대   0.2
16       네번   0.2
17      노트북   0.2
18      태블릿   0.2
19      컴퓨터   0.2
20      휴대폰   0.2
21      다섯번   0.1
22     어린이날   0.1
23      공휴일   0.1
24      현충일   0.1
25     석가탄신   0.1

In [80]:
r2 = top.groupby('keywords')['freq'].sum()
r2

keywords
검색어     0.5
고려대     0.2
공휴일     0.1
네번      0.2
네이버     0.5
노트북     0.2
다섯번     0.1
두번      0.5
바나나     0.5
부산대     0.2
사과      0.5
서울대     0.2
석가탄신    0.1
세번      0.2
실검      0.5
실시간     0.5
안녕      0.5
어린이날    0.1
연세대     0.2
오렌지     0.5
첫번      0.5
컴퓨터     0.2
태블릿     0.2
포도      0.5
현충일     0.1
휴대폰     0.2
Name: freq, dtype: float64

In [ ]:
r3 = r2.sort_values(ascending = False)[:100]
r3

In [ ]:
# keyword열을 key로하는 딕셔너리 생성
r4 = r3.T.to_dict()
r4

---

In [46]:
df2 = df_con[df_con["Date"] == '2021-02-25']
df2

   idx        Date                 Contents
0    0  2021-02-25       네이버 실시간 검색어 실검 첫번째
1    1  2021-02-25  두번째 안녕하세요 사과 바나나 오렌지 포도

In [42]:
df_con.loc[0:1, "Contents"]

0         네이버 실시간 검색어 실검 첫번째
1    두번째 안녕하세요 사과 바나나 오렌지 포도
Name: Contents, dtype: object

In [47]:
text = df2["Contents"]
text_filtered = text.str.replace("[^ㄱ-ㅎ ㅏ-ㅣ 가-힣]"," ")

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_20468\2381274339.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  text_filtered = text.str.replace("[^ㄱ-ㅎ ㅏ-ㅣ 가-힣]"," ")

In [48]:
text_filtered

0         네이버 실시간 검색어 실검 첫번째
1    두번째 안녕하세요 사과 바나나 오렌지 포도
Name: Contents, dtype: object

In [23]:
tokenized_data_filtered=dict()
for idx, j in enumerate(text_filtered):
    print("idx =", idx)
    temp = tagger.nouns(j)
    temp = [word for word in temp if len(word)>1]  ## 두글자 이상이면 포함, 리스트 함축
    #temp = [word for word in temp if word not in stopwords]
    tokenized_data_filtered[df_con.loc[idx, "Date"]] = temp

idx = 0
idx = 1
idx = 2
idx = 3
idx = 4

In [24]:
tokenized_data_filtered

{'2021-02-25': ['두번', '안녕', '사과', '바나나', '오렌지', '포도'],
 '2021-02-26': ['네번', '노트북', '태블릿', '컴퓨터', '휴대폰'],
 '2021-02-27': ['다섯번', '어린이날', '공휴일', '현충일', '석가탄신']}

In [14]:
tokens=[]
for k in tokenized_data_filtered:
    tokens.extend(k)

In [15]:
tokens

['네이버',
 '실시간',
 '검색어',
 '실검',
 '첫번',
 '두번',
 '안녕',
 '사과',
 '바나나',
 '오렌지',
 '포도',
 '세번',
 '서울대',
 '부산대',
 '연세대',
 '고려대',
 '네번',
 '노트북',
 '태블릿',
 '컴퓨터',
 '휴대폰',
 '다섯번',
 '어린이날',
 '공휴일',
 '현충일',
 '석가탄신']

In [ ]:
num_top_tokens=100

counted_tokens=Counter(tokens)
top_keywords=dict(counted_tokens.most_common(num_top_tokens))
tk_df = pd.DataFrame(list(top_keywords.items()), columns=['keywords','freq'])
print("DONE")

In [17]:
counted_tokens = Counter(tokens)
counted_tokens

Counter({'네이버': 1,
         '실시간': 1,
         '검색어': 1,
         '실검': 1,
         '첫번': 1,
         '두번': 1,
         '안녕': 1,
         '사과': 1,
         '바나나': 1,
         '오렌지': 1,
         '포도': 1,
         '세번': 1,
         '서울대': 1,
         '부산대': 1,
         '연세대': 1,
         '고려대': 1,
         '네번': 1,
         '노트북': 1,
         '태블릿': 1,
         '컴퓨터': 1,
         '휴대폰': 1,
         '다섯번': 1,
         '어린이날': 1,
         '공휴일': 1,
         '현충일': 1,
         '석가탄신': 1})

---

In [1]:
import time
import pandas as pd
import urllib.request
import requests
import bs4
from collections import Counter
import konlpy
from konlpy.tag import Hannanum
import matplotlib.pyplot as plt
from wordcloud import WordCloud

In [2]:
data = pd.read_excel('C:/marketing/data.xlsx')
a = data.sort_values("실시간비율", ascending = False, ignore_index = True)[:100]
b = []
for i in range(100):
    b.append(str(a.loc[i, "날짜"])[:10].replace("-",""))
b[:5]

['20210225', '20210226', '20210227', '20210301', '20210228']

In [3]:
data

            날짜      실시간비율    실시간량       실검비율    실검량
0   2021-02-25  100.00000  605624  100.00000  86899
1   2021-02-26   34.85076  211065   29.01214  25211
2   2021-02-27   17.63669  106812   14.48414  12587
3   2021-02-28   15.53354   94075   12.69096  11028
4   2021-03-01   16.45141   99634   13.12000  11401
..         ...        ...     ...        ...    ...
800 2023-05-06    0.25251    1531    0.17540    153
801 2023-05-07    0.24853    1507    0.20266    177
802 2023-05-08    0.80667    4892    0.62222    542
803 2023-05-09    0.89570    5432    3.45600   3010
804 2023-05-10    1.00574    6099    3.10755   2707

[805 rows x 5 columns]